.PersonalInformation {
  background-color: rgb(64, 125, 153);
  height: 100vh;
  @include SimpleFlex(flex, row);
  h2 {
    margin-top: 10%;
  }
  .FormSection {
    background-color: $white;
    width: 50vw;
    height: 100vh;
    @include flex(flex, column, flex-start, center);
  }
  .InfoSection {
    background-color: $black;
    width: 50vw;
    height: 100vh;
    @include flex(flex, column, flex-start, center);
    h2 {
      text-align: left;
      width: 716px;
    }
  }

  // Form Section

  //  Info Section
  h2 {
    line-height: 79px;
    max-width: 716px;
  }

  .paragraphWrapper {
    margin-top: 3px; //ძაან უაზროდაა გაკეთებული დიზაინი
    display: flex;
    align-items: center;
    min-width: 705px;
    min-height: 606px;
  }
  p {
    color: $white;
    line-height: 48px;
    letter-spacing: 0.05em;
    font-size: 24px;
  }
}

// Technical Skillset. Third page !!

.TechnicalSkillset {
  height: 100vh;
  @include SimpleFlex(flex, row);
  h2 {
    margin-top: 10%;
    line-height: 79px;
    max-width: 716px;
  }

  .FormSection {
      background-color: $white;
      width: 50vw;
      height: 100vh;
      @include flex(flex, column, flex-start, center);
  }
  .InfoSection {
      background-color: $black;
      width: 50vw;
      height: 100vh;
      @include flex(flex, column, flex-start, center);
      h2 {
        text-align: left;
        
      }
  }
// Info Section
  .paragraphWrapper {
    margin-top: 3px;
    display: flex;
    align-items: center;
    max-width: 705px;
    max-height: 606px;
  }
  p {
    color: $white;
    line-height: 48px;
    letter-spacing: 0.05em;
    font-size: 24px;
    margin-top: 240px;
  }
// Button 
  .btn {
      width: 201px;
      height: 32px;
      margin-top: 22px;
      background-color: $RedberryRed;
      color: $white;
      border: none;
      font-size: 12px;

  }
}


.Covid {
  height: 100vh;
  @include SimpleFlex(flex, row);
  h2 {
    margin-top: 10%;
    line-height: 79px;
    max-width: 788px;
  }

  .FormSection {
      background-color: $white;
      width: 50vw;
      height: 100vh;
      @include flex(flex, column, flex-start, center);
  }
  .InfoSection {
      background-color: $black;
      width: 50vw;
      height: 100vh;
      @include flex(flex, column, flex-start, center);
      h2 {
        text-align: left; 
      }
  }

  // InfoSection 

  .paragraphWrapper {
    margin-top: 3px;
    display: flex;
    align-items: center;
    max-width: 705px;
    max-height: 606px;
  }
  p {
    color: $white;
    line-height: 48px;
    letter-spacing: 0.05em;
    font-size: 24px;  
    margin-top: 251px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
    width: 645px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-left: 166px;
  }
}

.submit {
  @include flex(flex, column, center, center);
    background-color: $black;
    width: 100%;
    height: 100vh;
    
    .PrimaryBtn {
      width: 395px;
      height: 79px;
      background-color: $RedberryRed;
      color: $white;
      border-radius: 50px;
      font-size: 24px;
      border: none;
    }
    .SecondaryBtn {
      width: 190px;
      height: 50px;
      margin-top: 35px;
      border: none;
      background-color: transparent;
      color: $white;
      text-decoration: underline;
      font-size: 28px;
    }
}
 .thankspage {
   background-color: $black;
   color: $RedberryRed;
   font-size: $heading1;
   line-height: 119px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;

 }
