.PersonalInformation {
  background-color: rgb(64, 125, 153);
  height: 100vh;
  @include SimpleFlex(flex, row);
  .FormSection {
    background-color: $white;
    width: 50vw;
    height: 100vh;
    @include flex(flex, column, center, center);
  }
  .InfoSection {
    background-color: $black;
    width: 50vw;
    height: 100vh;
    @include flex(flex, column, center, center);
  }

  // Form Section

//  Info Section
 h2 {
  line-height: 79px;
 }
 



}

