$color: #FE3B1F;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {
    background: black;
    background-image:url(../images/stars.png);
}    
header { 
    @include flexCenter();
    height: 100vh;
}
.welcome {
   padding-top: 70px;
    color: $color;
    font-size: 90px;
   margin-bottom: 100px;
    
}

// buttons

.butn {
    @include flexCenter();
}

.btn {
    text-align: center;
    padding: 15px 50px;
    background-color: $color;
    border: none;
    border-radius: 30px;
    transition: 0.6s ease;
    color: white;
    font-size: 15px;
}

.btn:hover {
    transform: scale(1.1);
}

.butn2 {
    @include flexCenter();
    
}

.btn2 {
    text-align: center;
    background: none;
    color: white;
    border: none;
    text-decoration: underline;
    font-size: 16px;
}

.img {
   
   padding-left: 150px;
}



